.title-block.blog__header 
    h4.title-block__title Read our Blog posts 
    a(href="#" class='title-block__button') Go to Blog 
.blog__main 
    .blog__content-wrapper 
        .blog__banner
            .blog__banner-img-block 
                img(src="./img/blog-img.png" alt="pic" class='blog__banner-img')
            .blog__banner-content 
                .blog__banner-header
                    a(href="#" class='blog__banner-tag') Dinner tips 
                .blog__banner-main
                    a(href="#" class='blog__banner-title') Our chef tips for a great and tasty dinner ready in 20 minutes
                    .blog__banner-author-inf 
                        .blog__banner-author-img 
                            img(src="./img/ava2.png" alt="pic")
                        .blog__public-inf
                            span.blog__author-name Author
                            span.blog__public-date 15. 6. 2021
        .blog__card
            .blog__card-header
                .blog__card-img-block 
                    img(src="./img/card-img.png" alt="pic")
            .blog__card-main 
                a(href="#" class='blog__card-tag') Vegetable
                a(href="#" class='blog__card-title').
                    Which vegetable your family will love and want’s eat each day
                .blog__public-inf
                    span.blog__author-name.blog__author-name_color Author
                    span.blog__public-date.blog__public-date_color 15. 6. 2021
        .blog__mini-cards 
            a(href="#" class='blog__mini-cards-item')
                .blog__mini-cards-description 
                    p.blog__mini-cards-title Salat is kinda good start to your morning routines
                    .blog__public-inf
                    span.blog__author-name.blog__author-name_color Author
                    span.blog__public-date.blog__public-date_color 15. 6. 2021
                .blog__mini-cards-img
                    img(src="./img/mini-card1.png" alt="pic")
            a(href="#" class='blog__mini-cards-item')
                .blog__mini-cards-description 
                    p.blog__mini-cards-title Our chef tips for a great and healthy breakfast
                    .blog__public-inf
                    span.blog__author-name.blog__author-name_color Author
                    span.blog__public-date.blog__public-date_color 15. 6. 2021
                .blog__mini-cards-img
                    img(src="./img/mini-card2.png" alt="pic")
            a(href="#" class='blog__mini-cards-item')
                .blog__mini-cards-description 
                    p.blog__mini-cards-title Prepare a simple and delicious breads
                    .blog__public-inf
                    span.blog__author-name.blog__author-name_color Author
                    span.blog__public-date.blog__public-date_color 15. 6. 2021
                .blog__mini-cards-img
                    img(src="./img/mini-card3.png" alt="pic")
