.header-info
    .header-info__contact
        a(href='' class='header-navigation__chat chat-with-us') Chat with us
        a(href='tel:+420 336 775 664' class='header-navigation__tel') +420 336 775 664
        a(href='mailto:info@freshnesecom.com' class='header-navigation__mail') info@freshnesecom.com
    .header-info__menu-nav
        ul
            li.header-info__menu-item
                a(href="#") Blog
            li.header-info__menu-item
                a(href="#") About Us
            li.header-info__menu-item
                a(href="#") Careers
hr.header-info__hr
.header-main
    .header-main__logo-wrapper
        a(href="#").header-main__logo
            img(src="./img/logo.svg" alt="Logo")
    .header-main__search-block
        form.header-main__search-form
            button.header-main__category-button All categories
            hr.header-main__hr
            input(type="text" class="header-main__input" placeholder="Search Products, categories ...")
            button.header-main__search-button
                img(src="./img/magnifying.svg" alt="Search")
    .header-main__user-options 
        button.header-main__user-profile
            img(src="./img/user.svg" alt="User")
        button.header-main__user-shop-cart 
            img(src="./img/shopCart.svg" alt="Cart")