.menu-nav__list-wrapper
    ul.menu-nav__list 
        li
            a.menu-nav__item(href="#") Bakery
        li
            a.menu-nav__item(href="#") Fruit and vegetables
        li
            a.menu-nav__item(href="#") Meat and fish
        li
            a.menu-nav__item(href="#") Drinks
        li
            a.menu-nav__item(href="#") Kitchen
        li
            a.menu-nav__item(href="#") Special nutrition
        li
            a.menu-nav__item(href="#") Baby
        li
            a.menu-nav__item(href="#") Pharmacy
        