$colorWhite: #ffffff;
$colorGreen: #6A983C;
$colorBlack: #151515;
$colorOrange: #E6704B;
$colorGray82: #D1D1D1;
$textSize12: 12px;
$textSize14: 14px;
$textSize15: 15px;
$textSize18: 18px;
$fontPoppins: 'Poppins';
$fontOpenSans: 'Open Sans';